<section id="skillset">
  <h2 class="text-2xl leading-normal tracking-wide">Skillset</h2>
  <div class="">
    Most of my experience is in the front-end, but I'm also comfortable with back-end development. I'm always looking to learn new things and improve my skills.
  </div>

  <div class="skillset">
    <div class="skill">
      <h3>Front-end</h3>
      <ul>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>JavaScript</li>
        <li>jQuery</li>
        <li>AngularJS</li>
        <li>React</li>
        <li>Backbone</li>
        <li>Ember</li>
        <li>Handlebars</li>
        <li>Mustache</li>
        <li>Underscore</li>
        <li>Bootstrap</li>
        <li>Foundation</li>
        <li>LESS</li>
        <li>SASS</li>
        <li>Grunt</li>
        <li>Gulp</li>
        <li>Yeoman</li>
        <li>Bower</li>
        <li>npm</li>
        <li>Git</li>
        <li>SVN</li>
        <li>Photoshop</li>
        <li>Illustrator</li>
        <li>Sketch</li>
      </ul>
    </div>
    <div class="skill">
      <h3>Back-end</h3>
      <ul>
        <li>PHP</li>
        <li>MySQL</li>
        <li>Node.js</li>
        <li>Express</li>
        <li>MongoDB</li>
        <li>Python</li>
        <li>Django</li>
        <li>Flask</li>
        <li>Java</li>
        <li>Spring</li>
        <li>REST</li>
        <li>SOAP</li>
        <li>JSON</li>
        <li>XML</li>
        <li>Apache</li>
        <li>nginx</li>
        <li>Linux</li>
        <li>Windows</li>
        <li>Heroku</li>
        <li>Amazon Web Services</li>
        <li>Google App Engine</li>
        <li>Google Cloud Platform</li>
        <li>Microsoft Azure</li>
      </ul>
    </div>
    <div class="skill">
      <h3>Other</h3>
      <ul>
        <li>Agile</li>
        <li>Scrum</li>
        <li>Waterfall</li>
        <li>Test-driven development</li>
        <li>Behavior-driven development</li>
        <li>Object-oriented programming</li>
        <li>Functional programming</li>
        <li>Responsive design</li>
        <li>Mobile-first design</li>
        <li>Accessibility</li>
        <li>SEO</li>
        <li>Google Analytics</li>
        <li>Google Tag Manager</li>
        <li>Google Webmaster Tools</li>
        <li>Google AdWords</li>
        <li>Google AdSense</li>
        <li>Google Maps</li>
        <li>Google Places</li>
        <li>Google+ API</li>
        <li>Facebook API</li>
        <li>Twitter API</li>
        <li>YouTube API</li>
        <li>LinkedIn API</li>
        <li>Instagram API</li>
        <li>Yelp API</li>
        <li>YUI</li>
        <li>Ext JS</li>
        <li>Dojo</li>
        <li>Prototype</li>
        <li>Scriptaculous</li>
        <li>jQuery UI</li>
        <li>jQuery Mobile</li>
        <li>PhoneGap</li>
        <li>Sencha Touch</li>
        <li>Appcelerator Titanium</li>
        <li>Adobe AIR</li>
        <li>Unity</li>
        <li>WordPress</li>
        <li>Drupal</li>
        <li>Joomla</li>
        <li>Magento</li>
        <li>Shopify</li>
        <li>BigCommerce</li>
        <li>WooCommerce</li>
        <li>OpenCart</li>
        <li>osCommerce</li>
        <li>Volusion</li>
        <li>Wix</li>
        <li>Squarespace</li>
        <li>GoDaddy</li>
        <li>1&1</li>
        <li>HostGator</li>
        <li>Bluehost</li>
        <li>Media Temple</li>

      </ul>
    </div>
  </div>
</section>